
/* Footer */
footer {
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logotipo-footer {
  width: 50px;
  height: auto;
  margin: 0 10px;
  object-fit: cover;
}
