/* Header */
.index-header {
  background-image: url(../img/Glaciar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: $colorBlanco;
}

.contenedor-superior {
  padding: 1rem 2rem;
  top: 0;
  left: 0;
  width:100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.contenedor-inferior {
  @include flex-center(center, center, column);

}
.logotipo {
  width: 60px;
  height: auto;
}

.logo-link {
  display: inline-block;
  padding: 5px;
}

.logo-link:hover {
  opacity: 0.8;
}

.index-h1 {
  font-size: 7rem;
  background-color: $ColorAzul;
  border-radius: 1rem;
}

.parrafo-h1 {
  font-size: 2rem;
}

